<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show message</title>
</head>
<body>
    <script>
        const request = new Request('/message');
        fetch(request)
          .then(response => response.text())
          .then(text => {
              const message = document.getElementById("message");
              message.innerHTML = text;
          });
    </script>
    <h1>
        Your message
    </h1>
    <div id="message">
        <!-- Our executed message here -->
    </div>
    <br>
    <div id="protected-message">
       <!-- TODO -->
    </div>
    <br>
    <div>
        <a href="/">Back to send message form</a>
    </div>
</body>
</html>